{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'slick-1.8.1/slick/slick.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'slick-1.8.1/slick/slick-theme.css' %}"/>
				

    <title>{% block title %} {{ title }}{% endblock %}</title>
    <style>
        #hero-image{
            height: 400px;
        }
        @media (min-width:992px){
            #hero-image{
                height:600px;
            }
        }
    </style>
    {% block js %}{% endblock %}
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="brand-title"><a href="/">SSCEPlus</a></div>
            <div class="toggle-button" id="toggle">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <div class="navbar-links" id="navbar">
                <ul>
                    <li><a href="/">Subjects</a></li>
                    <li><a href="/">About</a></li>
                    <li><a href="/">More</a></li>
                </ul>
            </div>

        </nav>
        <div class="row banner">
            <div class="hero-text">
                <h1>SSCEPlus</h1>
                <h2>Helps You Prepare <br>for Your Exams</h2>
            </div>
            <div class="hero-img">
                <img src="{% static 'image/education.png' %}" width="100%" height="100%">
            </div>
        </div>
</header>
    <section>
        <h1 class="subject-h1">Science and Mathematics</h1>
        <div class="subjects slider" >
            <div class="subject">
                <h2>Mathematics</h2>
            </div>
            <div class="subject">
                <h2>Physics</h2>
            </div>
            <div class="subject">
                <h2>Chemistry</h2>
            </div>
            <div class="subject">
                <h2>Biology</h2>
            </div>
            <div><h2>Further Mathematics</h2></div>
        </div>
    </section>

 <section>
    <h1 class="subject-h1">Art and Languages</h1>
    <div class="subjects slider">
        <div class="subject"><h2>English Language</h2></div>
        <div class="subject"><h2>Literature in English</h2></div>
        <div class="subject"><h2>Goverment</h2></div>
        <div class="subject"><h2>Civic Education</h2></div>
        <div class="subject"><h2>CRK</h2></div>

    </div>
</section>

<footer>
    <div></div>
</footer>
{% block content %}
{% endblock %}
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>

<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="{% static 'slick-1.8.1/slick/slick.min.js' %}"></script>

<script type="text/javascript">
    $(document).ready(function(){
      $('.slider').slick({

       
  slidesToShow: 4,
  slidesToScroll: 1,
  autoplay: false,
  autoplaySpeed: 2000,
  arrows:true

      });
    });
  </script>

</body>

</html>