{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">
    <link ref="icon" type="image/x-icon" href="{% static 'image/favicon.ico' %}">
    <title>{% block title %} {{ title }}{% endblock %}</title>
    <!--{% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %} -->
    <style>
        #hero-image{
            height: 400px;
        }
        @media (min-width:992px){
            #hero-image{
                height:600px;
            }
        }
    </style>
    {% block js %}{% endblock %}
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="brand-title"><a href="/">SSCEPlus</a></div>
            <div class="toggle-button" id="toggle">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <div class="navbar-links" id="navbar">
                <ul>
                    <li><a href="/">Subjects</a></li>
                    <li><a href="/">Services</a></li>
                    <li><a href="/">More</a></li>
                </ul>
            </div>

        </nav>
        <div id="hero-image" class="p-5 text-center bg-image" style="background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.7);">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <div class="text-white">
                        <h1 class="mb-3">SSCEPlus</h1>
                        <h5 class="mb-4">Best place for exam preparation and more</h5>
                        <a class="btn btn-outline-light btn-lg m-2" role="button" 
                        rel="nofollow" target="_blank" href="/subjects">
                            Start Learning
                        </a>
                        <a class="btn btn-outline-light btn-lg m-2" role="button" target="_blank" href="/">Take Quiz</a>
                    </div>
                </div>
            </div>
        </div>
</header>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
{% block content %}
{% endblock %}
</html>