*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    margin:0;
    padding:0;
    font-family:lato;
}

.navbar{
    background-color: #191970;
    padding-left: 1rem;
    padding-right: 1rem;
    color:#fff;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.toggle-button{
    display:flex;
}

.brand-title{
    font-size:xx-large;
    font-weight: bolder;
    margin: 0.5rem;
}
.navbar-links{
    display:none;
    width:100%;
} 

.brand-title a{
    color:#fff;
    text-decoration: none;
}

.navbar ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li{
    list-style: none;
}

.navbar li a{
    color: #fff;
    text-decoration: none;
    display:block;
    padding: 1rem;
    font-size: 1.5rem;
}

.navbar li:hover{
    background-color: #1f51ff;
}


.navbar-links ul{
    width:100%;
    flex-direction: column;
    position:absolute;
    z-index: 15;
    background-color: #191970;
    left:0;
}

.navbar-links li{
    text-align: center;
}

.navbar-links li a{
    padding: 0.5rem 1rem;
}


.navbar-links.active{
    display:flex;
}

.toggle-button{
    display:flex;
    flex-direction: column;
    background-color: #191970;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    position:absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

.toggle-button span{
    height: 3px;
    width:100%;
    background-color: #fff;
    border-radius: 10px;
    
}

.row{
    padding:0;
    margin:0;
    width:100%;
    position:relative;
}

.banner{
    height: 39rem;

}
.hero-text, .hero-img{
    width:100%;
    height: 39rem;
    background-color: #1f51ff;
    position:absolute;
    top:0;
    left:0;

}

.hero-text{
    z-index: 10;
    background-color: rgba(106,90,205, 0.5);
}


.hero-text h1{
    color:#fff;
    font-size: 5rem;
    background-color: #0000ff;
    width: fit-content;
    padding:1rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    opacity:1;
    text-shadow: 2px 2px black;
    margin: 2rem 0;
}

.hero-text h2{
    color:#fff;
    font-size: 3rem;
    background-color: #0000ff;
    width: fit-content;
    padding:1rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    text-shadow: 2px 2px black;
    opacity:1px;
    margin: 2rem 0;
}

section{
    width: 100%;
    margin:2rem 0;
}

.subject-h1{
    text-align: center;
    padding-top:2rem;
    padding-bottom: 1rem;
    font-size: 2rem;
}

.subject-text{
    padding:2rem 1rem;
    font-size: 1.2rem;
}




.subject-row{
    width: 100%;
    background-color:blue;
    color:#fff;
    padding:1rem;
}

div.row-subject{
    width:100%;
    background-color: #e91e63;
}

div.math-row h2{
    text-align: center;
}

.col6{
    width:100%;
    background-color:blue;
    color:#fff;
    padding:1rem;
    margin:4rem 0;
}

.col3{
    width:100%;
    padding:1rem;

}

.col3 h4{
    margin-bottom: 1rem;
}

.start-learning-cta{
    display: block;
    background-color: gold;
    padding: 1rem 2rem;
    color:#000;
    border-radius: 1rem;
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
    width:fit-content;
    font-weight: 700;
    margin:1rem auto;
}

.subject-name{
    text-align: center;
}

footer{
    background-color: #191970;
    color:#fff;
    font-size: 1.2rem;
    width:100%;
    display:block;
}

footer ul{
    list-style-type: none;
}

footer ul li a{
    color:white;
    text-decoration: none;
}

@media screen and (min-width:800px){
    .banner{
        display:flex
    }

    .hero-text, .hero-img{
        width: 50%;
        position:static
    }

    .hero-text{
        background-color: #0000ff;
    }

    .toggle-button{
        display:none;
    }

    .navbar{
        display: flex;
        flex-direction: row;
        align-items: center;

    }

    .navbar-links{
        display: flex;
        width: fit-content;
    }

   

    .navbar-links ul{
        display:flex;
        flex-direction: row;
        position:static;
    }

    .subject-text{
        padding:2rem 6rem;
        font-size: 1.5rem;
    }


    .footer-links{
        display:flex;
        width: 100%;
    }
   .col3{
    width: 25%;
   }

   .copyright{
    width:100%
   }
}
