*{
    box-sizing: border-box;
}

body{
    margin:0;
    padding:0;
    font-family:lato;
}

.navbar{
    background-color: #191970;
    padding-left: 1rem;
    padding-right: 1rem;
    color:#fff;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.toggle-button{
    display:flex;
}

.brand-title{
    font-size:xx-large;
    font-weight: bolder;
    margin: 0.5rem;
}
.navbar-links{
    display:none;
    width:100%;
} 

.brand-title a{
    color:#fff;
    text-decoration: none;
}

.navbar ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li{
    list-style: none;
}

.navbar li a{
    color: #fff;
    text-decoration: none;
    display:block;
    padding: 1rem;
    font-size: 1.5rem;
}

.navbar li:hover{
    background-color: #1f51ff;
}


.navbar-links ul{
    width:100%;
    flex-direction: column;
    position:absolute;
    z-index: 15;
    background-color: #191970;
    left:0;
}

.navbar-links li{
    text-align: center;
}

.navbar-links li a{
    padding: 0.5rem 1rem;
}


.navbar-links.active{
    display:flex;
}

.toggle-button{
    display:flex;
    flex-direction: column;
    background-color: #191970;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    position:absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

.toggle-button span{
    height: 3px;
    width:100%;
    background-color: #fff;
    border-radius: 10px;
    
}

.row{
    padding:0;
    margin:0;
    width:100%;
    position:relative;
}

.banner{
    height: 39rem;

}
.hero-text, .hero-img{
    width:100%;
    height: 39rem;
    background-color: #1f51ff;
    position:absolute;
    top:0;
    left:0;

}

.hero-text{
    z-index: 10;
    background-color: rgba(106,90,205, 0.5);
}


.hero-text h1{
    color:#fff;
    font-size: 5rem;
    background-color: #0000ff;
    width: fit-content;
    padding:1rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    opacity:1;
    text-shadow: 2px 2px black;
    margin-bottom: 0;
}

.hero-text h2{
    color:#fff;
    font-size: 3rem;
    background-color: #0000ff;
    width: fit-content;
    padding:1rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    text-shadow: 2px 2px black;
    opacity:1px;
}

section{
    width: 100%;
}

.subject-h1{
    text-align: center;
    padding-top:2rem;
    padding-bottom: 1rem;
    font-size: 2rem;
}


.subject-row{
    width: 100%;
    background-color:blue;
    color:#fff;
    height: 300px;
    padding:1rem;
}

div.row-subject{
    width:100%;
    background-color: #e91e63;
}

div.math-row h2{
    text-align: center;
}

.col6{
    width:100%;
    height:300px;
    background-color:blue;
    color:#fff;
    padding:1rem;
    margin:4rem 0;
}

.subject-name{
    text-align: center;
}

@media screen and (min-width:800px){
   
}










.subjects{
    color:#fff;
    display:flex;
    background-color: #1f51ff;
    justify-content: space-around;
    padding: 0 20px;
}

section{
    margin:50px 0;
    padding:0 5px;
}

.slider{
    margin: 60px auto;
    width: 95%;
}

.slider div{
    text-align: center;
}



.slick-prev:before,
.slick-next:before{
    color: #1f51ff !important;
}

/* FOOTER START */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}

.container{
  max-width: 1170px;
  margin:auto;
}
.rowf{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}
.footer{
  background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
/* FOOTER */


@media(max-width:600px){
    

   

    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }


    

    .slider{
        margin: 60px auto;
        width: 85%;
    }


}